# This is a basic workflow to help you get started with Actions

name: GetBhavCopy

# Controls when the action will run. 
on:
  schedule:
    - cron: '30 13 * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
        date:
          description: 'Date for which bhav copy to be downloaded'
          required: false
          default: ''

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  download:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 15.x
      uses: actions/setup-node@v2
      with:
        node-version: 15.x
    - run: npm install
    - run: node index.js "${{ github.event.inputs.date }}"
    - uses: EndBug/add-and-commit@v7.0.0
      with:
        add: './data'
        default_author: github_actions
